<h1>商品新規登録</h1>

<% if @item.errors.any? %>
  <h2><%= @item.errors.count %> 件のエラーが発生しました。</h2>
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @item, url: admin_items_path do |f| %>
<div class="container" style="width: 50%">
  <div class="align-items-center justify-content-center">
    <div class="row">
        <table class="table">
          <tr>
            <th style="width: 30%">商品画像</th><td style="width: 40%"><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <th>商品名</th><td><%= f.text_field :name, placeholder: "商品名" %></td>
          </tr>
          <tr>
            <th>商品説明</th><td><%= f.text_area :introduction, placeholder: "ここに説明文を記載します" %></td>
          </tr>
          <tr>
            <th>ジャンル</th><td><%= f.select :genre_id, @genres.map {|genre| [ genre.name, genre.id ]} %></td>
          </tr>
          <tr>
            <th>税抜価格</th><td><%= f.number_field :price, placeholder: "1000" %></td>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <td>
              <%= f.radio_button :is_active, :true %>
              <%= f.label :is_active, "販売中" %>
              <%= f.radio_button :is_active, :false %>
              <%= f.label :is_active, "販売停止" %>
            </td>
          </tr>
        </table>
        <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
  </div>
</div>

<% end %>