<p id="notice"></p>
  <div class="container px-5 px-sm-0 mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-1">
          <h2>管理者ログイン</h2>


        <%= form_with model: @admin, url: admin_session_path do |f| %>
        <div class="row justify-content-center pt-3">
          <table>
            <tr>
              <th><%= f.label :email, "メールアドレス" %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
              <tr class="mb-3">
                <th><%= f.label :password, "パスワード" %></th>
                <td><%= f.password_field :password, autocomplete: "current-password" %></td>
              </tr>
            <tr class="" >
              <th></th>
              <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
            </tr>
          </table>
        </div>
        <% end %>

        <%= render "admin/shared/links" %>
      </div>
    </div>
  </div>