<p id="notice"></p>
<div class="container d-flex mb-4 mt-4 pt-4">
  <h4 class="bg-light"><strong><%= @customer.last_name %><%= @customer.first_name %></strong>さんの<strong>会員詳細</strong></h4>
</div>

<div class="container">
  <div style="width: 60%">
    <table class="table table-borderless">
      <tr>
        <th style="width: 30%">会員ID</th><td style="width: 70%"><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</th><td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <th>フリガナ</th><td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th>郵便番号</th><td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th><td><%= @customer.address %></td>
      </tr>
      <tr>
        <th>電話番号</th><td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th><td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <% if @customer.is_deleted == false %>
          <td class="text-success">有効</td>
        <% else %>
          <td>退会</td>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <td>
          <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>    
          <%= link_to "注文履歴一覧", admin_homes_top_path, class: "btn btn-primary" %>
        </td>
      </tr>
    </table>
  </div>
</div>