<p id="notice"></p>
<h2>新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<table>
  <tr>
    <th>名前</th>
    <td>
      <%= f.label :last_name, "(姓)" %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "name" %>
    <td>
      <%= f.label :first_name, "(名)" %>
      <%= f.text_field :first_name %>
    </td>
    </td>
  </tr>
  <tr>
    <th>フリガナ</th>
    <td>
      <%= f.label :last_name_kana, "(セイ)" %>
      <%= f.text_field :last_name_kana %>
    </td>
    <td>
      <%= f.label :first_name_kana, "(メイ)" %>
      <%= f.text_field :first_name_kana %>
    </td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td>
      <%= f.email_field :email %>
    </td>
  </tr>
  <tr>
    <th>郵便番号(ハイフンなし)</th>
    <td>
      <%= f.text_field :postal_code %>
    </td>
  </tr>
  <tr>
    <th>住所</th>
    <td>
      <%= f.text_field :address %>
    </td>
  </tr>
  <tr>
    <th>電話番号(ハイフンなし)</th>
    <td>
      <%= f.number_field :telephone_number %>
    </td>
  </tr>
  <tr>
    <th>パスワード(6文字以上）</th>
    <td>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </td>
  </tr>
  <tr>
    <th>パスワード(確認用)</th>
    <td>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </td>
  </tr>
</table>


  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h3>既に登録済みの方</h3>
<div><%= render "public/shared/links" %>  からログインしてください </div>
