<p id="notice"></p>
<div class="container d-flex mt-4">
  <h4 class="bg-light">新規会員登録</h4>
</div>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<div class="container mb-5" style="width: 80%">
  <div class="align-items-center justify-content-center">
    <div class="row">
      <table class="table table-borderless">
        <tr>
          <th style="width: 30%">名前</th>
          <td style="width: 10%">
            <%= f.label :last_name, "(姓)　", class: "mr-3 ml-4" %>
          </td>
          <td class="d-flex" style="width: 60%">
            <%= f.text_field :last_name, autofocus: true, autocomplete: "name" %>
            <%= f.label :first_name, "(名)　", class: "mr-3 ml-4" %>
            <%= f.text_field :first_name %>
          </td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td>
            <%= f.label :last_name_kana, "(セイ)", class: "mr-3 ml-4" %>
          </td>
          <td class="d-flex">
            <%= f.text_field :last_name_kana %>
            <%= f.label :first_name_kana, "(メイ)", class: "mr-3 ml-4" %>
            <%= f.text_field :first_name_kana %>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td></td>
          <td>
            <%= f.email_field :email %>
          </td>
        </tr>
        <tr>
          <th>郵便番号(ハイフンなし)</th>
          <td></td>
          <td>
            <%= f.text_field :postal_code %>
          </td>
        </tr>
        <tr>
          <th>住所</th>
          <td></td>
          <td>
            <%= f.text_field :address, style: "width: 80%" %>
          </td>
        </tr>
        <tr>
          <th>電話番号(ハイフンなし)</th>
          <td></td>
          <td>
            <%= f.number_field :telephone_number %>
          </td>
        </tr>
        <tr>
          <th>パスワード(6文字以上）</th>
          <td></td>
          <td>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <th>パスワード(確認用)</th>
          <td></td>
          <td>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-center">
    <%= f.submit "　新規登録　", class: "btn btn-success" %>
  </div>
</div>
<% end %>

<div class="container mt-5">
  <div class="d-flex">
    <h5 class="bg-light">既に登録済みの方</h5>
  </div>
</div>

<div class="container">
  <div class="d-flex">
    <h5><%= render "public/shared/links" %>  からログインしてください</h5>
  </div>
</div>