<h2>注文履歴詳細</h2>

<h3>注文情報</h3>
<table>
  <tr>
    <th>注文日</th><td><%= @order.created_at %></td>
  </tr>
  <tr>
    <th>配送先</th><td><%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td>
      <%= 
    </td>
  </tr>
</table>